a {
  text-decoration: none;
  color: var(--text-color);
}

article {
  background-color: var(--bg-2);
  border-radius: var(--radius);
  padding: var(--space-1);
  box-shadow: var(--shadow);
}

.collections-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.collections-grid a img {
  max-width: 100%;
  border-radius: 0.5rem;
}

@media (width <= 768px) {
  .collections-grid {
    grid-template-columns: 1fr;
  }
}
